{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

            <div class="col-md-9 admin-content" id="home">
                <p>
                    Hello! This is a forked snippet.<br>
                    It is for users, which use one-page layouts.
                </p>
                <p>
                    Here's the original one from BhaumikPatel: <a href="http://bootsnipp.com/snippets/featured/vertical-admin-menu" target="_BLANK">Vertical Admin Menu</a>
                    <br>
                    Thank you Baumik!
                </p>
            </div>
    </div>

{% endblock %}










