{% import 'AppBundle:Blog:macros.html.twig' as blogMacros %}

{{ blogMacros.widget("W portfelu", list2, "#", "Pełny dziennik") }}

{#<section class="widget">
    <h2>W portfelu</h2>
    <ul>
          {% for row in list2 %}
            <li>{{ row }}</li>
        {% endfor %}
    </ul>
    <p><a class="btn btn-default" href="#" role="button">Pełny dziennik &raquo;</a></p>
</section>#}