{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="page-header">NAUKA</h3>
    
    <div class="span12 pagination-centered">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/JyE-6loC_Aw" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}